body{
    background-color: #f0f0f0
}
.container-card{
    width: 900px;
    margin: 30px auto;
    display: flex;  
    justify-content: space-between;
}

.card{
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 32%;
    

}
.card .card-header img{
    width: 100%;  
}

button{
    background-color: yellow;
}

